$color-primary: #FF9248;
$color-secondary: #D9730D;
$color-tertiary: #FFF1E6;
$color-background: #F5F5F5;
$color-text: rgb(26, 26, 26);

$color-primary-lighter: #FFBE5E;
$color-primary-light: #FFA853;
$color-primary-dark: #D97C3D;
$color-primary-darker: #B36632;

$color-secondary-lighter: #FF9611;
$color-secondary-light: #FA840F;
$color-secondary-dark: #B8620B;
$color-secondary-darker: #985109;

$color-tertiary-light: #FFFDF2;
$color-tertiary-dark: #F2E5DB;

$color-background-dark: #E8E8E8;
$color-background-darker: #DADADA;

$color-text-light: #424242;
$color-text-lighter: #757575;

$color-accent-1: #5683B3;
$color-accent-2: #679DD7;

$color-success: #4CAF50;
$color-error: #F44336;
$color-warning: #FFC107;
$color-info: #2196F3;

$color-link: $color-accent-1;
$color-link-hover: $color-accent-2;
$color-button-primary: $color-primary;
$color-button-secondary: $color-secondary;
$color-card-background: $color-background;
$color-border: $color-background-darker;