@use "@styles/colors" as *;
@use "sass:color";

.recipes-title {
    font-size: 24px;
    font-weight: 600;
    color: $color-text;
    border-bottom: 2px solid color.scale($color-primary, $lightness: 10%);
    padding-bottom: 10px;
    margin: 30px 0 20px;
    text-align: center;
}

.recipes-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 20px;
    padding: 20px;
}

.recipe-card-link {
    text-decoration: none;
    color: inherit;
    display: block;
    height: 100%;
    transition: transform 0.2s ease;
}